body
{
    background: rgb(153, 0,76) url("2.jpg") top;
   color: rgb(51,0,51);
  
    
}
h1
{ color: black;
    text-align:center;
    text-transform: uppercase;
    text-shadow: 3px 2px palevioletred;
}

h2
{
    color: rgb(153, 0,76);
    background: rgba(255, 255, 255, 0.7);
}

h4

a:link {
    text-decoration: none;
}
a:visited {
    color: black;
   
}

p
{
    color: rgb(51,0,51);
    font-size: 20px;
    background: rgba(255, 255, 255, 0.7); /* Цвет фона */
     padding: 0.1px;
}

td.menu
{
    background: white;
    color:Black;
    text-align:center;
}
td.menu:hover
{
    background: white;
    color:Blue;
}
#bc 
{
    background: rgba(255, 255, 255, 0.7);
    color: rgb(51,0,51);
}