body
{
    background: rgb(187,23,90) url("1.jpg") no-repeat center top;
    color:Red;
}
h1
{
    text-align:center;
}

h3
{
    color: White;
}
h2
{
    color: Green;
}
h4

a:link {
    text-decoration: none;
}
a:visited {
    color: black;
   
}

p
{
    color: white;
    text-align: center;
}

td.menu
{
    background: white;
    color:Black;
    text-align:center;
}
td.menu:hover
{
    background: white;
    color:Blue;
}
